.card-header
  = link_to 'Log Uit', destroy_user_session_path, method: :delete, class: 'btn btn-primary'
  = link_to 'Terug', root_path, class: 'btn btn-primary'
  = link_to "Bekijk foto's", pictures_images_path, class: 'btn btn-primary'
.card-body
  .row
    .col-4
      .card
        .card-header
          Gebruikers beheren
          = link_to new_user_path, class: 'float-right btn btn-success' do
            %i.fas.fa-plus
        .card-body
          -User.all.each do |f|
            %p
              = f.email
              = link_to user_path(f), method: :delete, data: {confirm: 'Weet je zeker dat je deze gebruiker wil verwijderen?'}, class: 'btn btn-danger float-right' do
                %i.fas.fa-trash
              = link_to edit_user_path(f), class: 'btn btn-success float-right mar-right' do
                %i.fas.fa-pencil-alt  
    .col-4
      .card
        .card-header
          Bekijk hier de foto's
          = link_to addimage_images_path, class: 'float-right btn btn-success' do
            %i.fas.fa-plus
        .card-body
          -@image.each do |image|
            %p
              = image.title
              = link_to image_path(image), method: :delete, data: {confirm: 'Weet je zeker dat je deze foto wil verwijderen?'}, class: 'btn btn-danger   float-right mar-right' do
                %i.fas.fa-trash
              = link_to edit_image_path(image), class: 'btn btn-success float-right mar-right' do
                %i.fas.fa-pencil-alt
